<!-- Partial file that contains structure related to footer of the finance app application -->

<footer id="app__colphon" class="footer app__footer text-center" role="content-info">
    <div class="container">
        <div class="row clearfix">
            <div class="col-xs-12">
                <span class='credit-by'>© Simple Finance Application <%= Date.today.year %> All Rights Reserved, by <%= link_to 'Bobaminions', "https://www.linkedin.com/in/rameshthakulla", :target => '_blank' %></span>    
            </div>
        </div>
    </div>
</footer>