<!-- Partial file that contains structure related to footer of the finance app application -->

<footer id="app__colphon" class="footer app__footer text-center" role="content-info">
    <div class="container">
        <div class="row clearfix">
            <div class="col-xs-12">
                <p>© Simple Finance Application <%= Date.today.year %> All Rights Reserved, by <a href="">Bobaminions</a></p>    
            </div>
        </div>
    </div>
</footer>