<!-- Partial file that contains structure related to navigation of the app application -->

<!-- Adding bootstrap nav in app App -->
<header id="app__masthead" class="app__header app__masthead">
  <nav class="navbar navbar-default text-center" role="navigation">
    <div class="container">
      <div class="row clearfix">
        <div class="col-xs-12">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to 'Finance App', root_path, class: "navbar-brand" %>
          </div>
      </div>
    </div><!-- /.container-fluid -->
  </nav><!-- /.#Adding bootstrap nav in app App -->
</header><!-- /.#app App's header -->