<section class="app__block app__block--accountDetails">
    <div class="app__block-row">
        
        <div class="container">
            <div class="row clearfix">
                <div class="col-xs-12">
                    <div class="app__detail-row">
                        <header class="app__detail-title">
                            <h3>Account Information</h3>
                            <a href="" class="btn btn-primary btn-lg">Add Record</a>
                        </header>
                        <ul class="app__list-recordDetail app__list" role="group">
                            <li class="app__list-row">
                                <span class="app__list-cell app__list-title">Balance</span>
                                <span class="app__list-cell app__list-value">50000</span>
                            </li>
                            <li class="app__list-row">
                                <span class="app__list-cell app__list-title">Debt</span>
                                <span class="app__list-cell app__list-value">1000</span>
                            </li>
                            <li class="app__list-row">
                                <span class="app__list-cell app__list-title">Total</span>
                                <span class="app__list-cell app__list-value">49000</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>

<section class="app__block app__block--recordTable">
    <div class="app__block-row">
        
        <div class="container">
            <div class="row clearfix">
                <div class="col-xs-12">
                    <div class="app__detail-row">
                        <header class="app__detail-title">
                            <h3>Record Entry Table</h3>
                        </header>
                        <ul class="app__list-recordTable app__list" role="group">
                            <li class="app__list-row app__list-row-header">
                                <span class="app__list-cell">Date</span>
                                <span class="app__list-cell">Title</span>
                                <span class="app__list-cell">Amount</span>
                                <span class="app__list-cell">Action</span>
                            </li>
                            <li class="app__list-row">
                                <span class="app__list-cell">2016-12-06</span>
                                <span class="app__list-cell">Loan</span>
                                <span class="app__list-cell">5000</span>
                                <span class="app__list-cell">
                                    <div class="app__btn-group">
                                        <a href="" class="btn btn-primary btn-lg">Edit</a>
                                        <a href="" class="btn btn-danger btn-lg">Delete</a>
                                    </div>
                                </span>
                            </li>
                            <li class="app__list-row">
                                <span class="app__list-cell">2016-12-06</span>
                                <span class="app__list-cell">Loan</span>
                                <span class="app__list-cell">5000</span>
                                <span class="app__list-cell">
                                    <div class="app__btn-group">
                                        <a href="" class="btn btn-primary btn-lg">Edit</a>
                                        <a href="" class="btn btn-danger btn-lg">Delete</a>
                                    </div>
                                </span>
                            </li>
                            <li class="app__list-row">
                                <span class="app__list-cell">2016-12-06</span>
                                <span class="app__list-cell">Loan</span>
                                <span class="app__list-cell">5000</span>
                                <span class="app__list-cell">
                                    <div class="app__btn-group">
                                        <a href="" class="btn btn-primary btn-lg">Edit</a>
                                        <a href="" class="btn btn-danger btn-lg">Delete</a>
                                    </div>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>